body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-content {
  text-align: center;
  color: white;
}

